<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    
    <bean id="mongoClient" class="com.mongodb.MongoClient">
        <constructor-arg value="localhost"></constructor-arg>
        <constructor-arg value="27017"></constructor-arg>
    </bean>
    
    <bean id="morphia" class="org.mongodb.morphia.Morphia"/>
    
    <bean id="userService" class="com.teodoradobreva.mongodb.service.UserServiceImpl">
    	<property name="userDao">
		    <bean id="userDao" class="com.teodoradobreva.mongodb.dao.UserDaoImpl">
		    	<constructor-arg ref="mongoClient"></constructor-arg>
		        <constructor-arg ref="morphia"></constructor-arg>
		        <constructor-arg value="hirundo"></constructor-arg>
		    </bean> 
    	</property>
    </bean>
</beans>